# Игнорировать файлы среды разработки Python
__pycache__/
*.pyc

# Игнорировать файлы среды виртуальной разработки
.venv/

# Игнорировать файлы секретных ключей
.env

# Игнорировать каталог, куда загружается веб-драйвер, если он не предназначен для коммита
edgeDriver/

# Игнорировать другие файлы и директории, которые не должны быть в репозитории
*.log
tmp/